{% extends 'base.html.twig' %}

{% block title %}Viewer Profile!{% endblock %}

{% block body %}
  <script type="text/javascript">
        window.onload = function() {
            document.getElementById("op1").style.color="#F75A60";
             document.getElementById("op1t").style.color="white";
        }
    </script> 
    <!-- Search -->
	<div class="search_influencers bg-dark">
		<div class="container ">
			<div class="row ">
				<div class="col text-center ">
					<div class="home_slider_title"></div>
					    <div class="home_slider_subtitle"></div>
							<div class="home_slider_form_container">
								<form action="#" id="home_search_form" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                    <div class="d-flex flex-row align-items-center justify-content-start">
                                        {{source('@public_path'~asset('/img/iconos/ic-search.svg')) }}
                                        <input type="search" class="home_search_input" placeholder="Search influencer name, live event, category, profession,skill,hobby,tag..." required="required">
                                        <button type="submit" hidden></button>
                                    </div>								   
                                </form> 
							</div>
                            <div class="fs-20 text-white p-t-30 p-b-30">Trending searches: influencer,instagram,fitness,love,house</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Treanding Influencers -->
    <div class="influencers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="titulo float-left p-t-30 p-b-30">Trending Influencers</p>
                </div>
                {% include 'viewerMode/profil/influencersCard.html.twig' %}                     
            </div>
        </div>
    </div>
    <!-- Category -->
    <div class="category ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-t-30 p-b-30"><p class="titulo float-left">Category</p></div>
                {% include 'home/eventsCards/category.html.twig' %} 
            </div>      
        </div>
    </div> 
    <!-- Trending Tags. -->
    <div class="tags">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-t-30 p-b-30"><p class="titulo float-left">Trending Tags</p></div>
                <div class="row m-l-15 m-b-60">
                    <div class="tag text-center  mb-2 border border-dark">#games</div>
                    <div class="tag text-center  mb-2 border border-dark">#fashion</div>
                    <div class="tag text-center  mb-2 border border-dark">#JustCause4</div>
                    <div class="tag text-center  mb-2 border border-dark">#stream</div>
                    <div class="tag text-center  mb-2 border border-dark">#fashion</div>
                    <div class="tag text-center  mb-2 border border-dark">#lalalala</div> 
                    <div class="tag text-center  mb-2 border border-dark">#games</div>
                    <div class="tag text-center  mb-2 border border-dark">#fashion</div>
                    <div class="tag text-center  mb-2 border border-dark">#JustCause4</div>
                    <div class="tag text-center  mb-2 border border-dark">#stream</div>
                    <div class="tag text-center  mb-2 border border-dark">#fashion</div>
                    <div class="tag text-center  mb-2 border border-dark">#lalalala</div>
                    <div class="tag text-center  mb-2 border border-dark">#stream</div>
                    <div class="tag text-center  mb-2 border border-dark">#fashion</div>
                    <div class="tag text-center  mb-2 border border-dark">#lalalala</div>  
                    <div class="tag text-center  mb-2 border border-dark">#cinematream</div> 
                </div>    
            </div>          
        </div>
    </div>
{% endblock %}
