
<!-- La raya color salmon esta puesta como imagen habria que cambiar--> 
<div class="container">
    <div class="row mt-n3">
        <div class="col-md-4"></div>      
        <div class="col-md-4"><img src="{{ asset('img/Captura8.png') }}" /></div>
        <div class="col-md-4"></div>
    </div>    
</div>

<!-- Choose Categories-->
<div class="m-t-30">
    <div class="container">
        <div class="row">
            <div class="offset-md-2"></div>
            <div class="col-md-8">
                <h1>Choose your categories</h1>
                <h5 class="color_gris">This information will be used on search process,like Live Events, Influencers and video contents.</h5>
            </div>
            <div class="offset-md-2"></div>
            <div class="offset-md-2"></div>        
            <div class="col-md-4 p-t-40 p-b-40">
                <div class="shadowCategory">                    
                    <div class="text-center p-t-20 p-b-20">
                        <img src="{{ asset('img/Captura24.png') }}" />                     
                        <div class="p-t-30 p-b-10"><a href="#" class="text-center join  px-3 pt-2 pb-2 text-white m-l-10" >Choose Master Category</a></div>
                    </div>
                </div>
            </div>
             <div class="col-md-4 p-t-40 p-b-40">
                <div class="shadowCategory">                    
                    <div class="text-center p-t-20 p-b-20">
                        <img src="{{ asset('img/Captura24.png') }}" />                     
                        <div class="p-t-30 p-b-10"><a href="#" class="text-center join  px-3 pt-2 pb-2 text-white m-l-10" >Choose Master Category</a></div>
                    </div>
                </div>
            </div>  
            <div class="offset-md-2"></div>      
        </div>    
    </div>
</div>    
