<!-- La raya color salmon esta puesta como imagen habria que cambiar--> 
<div class="container">
    <div class="row mt-n3">
        <div class="col-md-4"></div>      
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="{{ asset('img/Captura8.png') }}" /></div>
    </div>    
</div>