<div class="mesgs text-dark fs-20">
    <div class="msg_history">
        <div class="incoming_msg">
            <div class="incoming_msg_img"> 
                <img class="rounded-circle" src="{{ asset('img/Captura18.png') }}" alt=""> 
            </div>
                <div class="received_msg ">
                    <div class="received_withd_msg">
                        <p>How many days do you think will take us to doscover Paris??</p>
                        <span class="time_date">10 min ago</span>
                    </div>
                </div>
            </div>
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <p class="border font-weight-bold">OK,sounds great! I`ll start organising the flight tickets first.</p>
                    <span class="time_date">2 houres ago</span> 
                </div>
            </div>
            <div class="incoming_msg">
                <div class="incoming_msg_img"> 
                    <img class="rounded-circle" src="{{ asset('img/Captura18.png') }}" alt=""> 
                </div>
                <div class="received_msg">
                    <div class="received_withd_msg">
                        <p>ok,sounds good!!you`re amazing.I want to invite all my fiends!!!</p>
                        <span class="time_date">10 min ago</span>
                    </div>
                </div>
            </div>
            <div class="outgoing_msg">
                <div class="sent_msg">
                    <p class="border font-weight-bold">ok will go to doscover Paris </p>
                    <span class="time_date">10 min ago</span> 
                </div>
            </div>
        </div>
        <div class="type_msg ">
            <div class="input_msg_write">
                <button class="msg_send_btn" type="button"><img class="rounded-circle" src="{{ asset('img/Captura21.png') }}" alt=""> </button>
                <input type="text" class="write_msg p-l-50" placeholder="Type a message here" />                              
            </div>
        </div>
    </div>  
</div>