{% extends 'base.html.twig' %}

{% block title %}Mensajes{% endblock %}

{% block body %}
    <script type="text/javascript">
     window.onload = function() {
        document.getElementById("op3").style.color="#F75A60";
        document.getElementById("op3t").style.color="white";
        }
    </script> 
    <div class="navegacion">
        {% include 'nav/messagesNav.html.twig' %}
    </div>             
{% endblock %}