{% extends 'base.html.twig' %}

{% block title %}Live Events{% endblock %}

{% block body %}
 <script type="text/javascript">
     window.onload = function() {
        document.getElementById("op2").style.color="salmon";
        document.getElementById("op2t").style.color="white";
        }
    </script>  
<div class="navegacion">
    {% include 'nav/eventsNav.html.twig' %}
</div>  
{% endblock %}